{% extends "base.html" %}

{% block titre %}
    Liste des événements
{% endblock titre %}

{% block content %}
    <ul>
        {% for event in object_list %}
            <li>
                <h3>
                    <a href="" class="titre">{{ event.nom }}</a>
                    <a href="{% url 'event_details' event.id %}">(détails)</a>
                </h3>
                <p class="event">le {{ event.date }}</p>
                <p class="event">à {{ event.lieu }}</p>
                <p class="event"><a href="{% url 'update_event' event.id %}">Modifier l'événement</a></p>
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'create_event' %}">Créer un nouvel événement</a>
    </p>

   {% include "blocks/pagination.html" %}

{% endblock content %}

{% block scriptjs %}
    <script>
        $('document').ready(function() {
            $('.event').hide();
            $('.titre').click(function(e) {
                $(this).parent().parent().children('.event').toggle();
                e.preventDefault();
            });
        });
    </script>
{% endblock scriptjs %}