<html lang="fr">
    <head>
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
        <title>
            Agenda partagé - 
            {% block titre %}
            {% endblock titre %}
        </title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="header"></div>

        <div id="menu"></div>

        <div id="content">
            {% block content %}
                Bonjour depuis "base.html"
            {% endblock content %}
        </div>

        <div id="footer"></div>
        
        <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        {% block scriptjs %}
            <script>
                $(function() {
                    alert($('h3').first().text());
                });
            </script>
        {% endblock scriptjs %}
    </body>
</html>