<h1>{{ event.nom }}</h1>
<p>{{ event.description }}</p>
<p>le {{ event.date }}</p>
<p>à {{ event.lieu }}</p>

<p>
    {% for participant in event.evenement_participant_set.all %}
        <p>
            {{ participant.participant }} {{ participant.get_status_display }}

            <form action="/agenda/{{event.id}}/participant/{{participant.participant.id}}/delete/" method="POST">
                {% csrf_token %}
                <input type="submit" value="Supprimer" />
            </form>
        </p>
    {% endfor %}
</p>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    
    <input type="submit" value="Créer" />
</form>