<h1>{{ event.nom }}</h1>
<p>{{ event.description }}</p>
<p>le {{ event.date }}</p>
<p>à {{ event.lieu }}</p>
<form action="{% url 'delete_event' event.id %}" method="POST">
    {% csrf_token %}

    <input
        type="submit"
        value="Supprimer l'évènement"
        onclick="return confirm('Voulez-vous vraiment supprimer cet évènement ?')"
    />
</form>

<p>
    {% for ev_par in event.evenement_participant_set.all %}
        <p>
            {{ ev_par.participant }} {{ participant.get_status_display }}

            <form action="{% url 'delete_participant' event.id ev_par.participant.id  %}" method="POST">
                {% csrf_token %}
                
                <input 
                    type="submit"
                    value="Supprimer"
                    onclick="return confirm('Supprimer {{ ev_par.participant }} de l\'évènement {{ event.nom }}')"
                />
            </form>
        </p>
    {% endfor %}
</p>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    
    <input type="submit" value="Créer" />
</form>

<p><a href="{% url 'list_event' %}">Retour à la liste</a></p>