{% extends "base.html" %}

{% block content %}
    <h1>{{ event.nom }}</h1>
    <p>{{ event.description }}</p>
    <p>le {{ event.date }}</p>
    <p>à {{ event.lieu }}</p>

    <p id="participants">
        {% for ev_par in event.evenement_participant_set.all %}
            <p>
                {{ ev_par.participant }} {{ ev_par.get_status_display }}
                {% with delete_url=ev_par.delete_url %}
                    {% include "blocks/delete_form.html" %}
                {% endwith %}
            </p>
        {% endfor %}
    </p>

    {% include "blocks/participant_form.html" %}

    {% with delete_url=event.delete_url %}
        {% include "blocks/delete_form.html" %}
    {% endwith %}
    <a href="{% url 'update_event' event.id %}">Modifier</a>

    <p><a href="{% url 'list_event' %}">Retour à la liste</a></p>
{% endblock content %}

{% block scriptjs %}
    <script>
        $(function() {
            $("#participant_form").on("submit", function(e) {
                $.ajax({
                    type: "POST",
                    data: $(this).serialize(),
                    url: "",
                    success: function(data) {
                        if (typeof(data) == "string") {
                            $("#participant_form").html(data);
                        } else {
                        $("#participants").append(
                            "<p>"
                            + data.participant + ": "
                            + data.get_status_display + ""
                            + data.delete_form +
                            "</p>"
                        )
                        $("#participant_form").replaceWith(data.participant_form);
                        }
                        //console.log(typeof(data));
                    }
                });
                e.preventDefault();
            });

            // $(".delete").on("submit", function(e) {
            //     form = $(this);
            //     $.ajax({
            //         type: "POST",
            //         data: $(this).serialize(),
            //         url: $(this).attr("action"),
            //         success: function(data) {
            //             // if (data.data == "OK") {
            //                 form.parent().remove()
            //             // }
            //         }
            //     });
            //     e.preventDefault();
            // });
        });
    </script>
{% endblock scriptjs %}